---
import Section from "@/components/Section.astro";
import { work } from "@cv";
---

<Section title="Experience">
    <ul>
        {
            work.map(({ company, position, startDate, endDate, summary }) => {
                return (
                    <li>
                        <article>
                            <header>
                                
                                    <h3>{position}</h3>
                                    <p>{company}</p>
                                
                                <p>
                                    {startDate} - {endDate}
                                </p>
                            </header>
                            <footer>
                                <ul>
                                    {summary.map((s) => (
                                        <li>• {s}</li>
                                    ))}
                                </ul>
                            </footer>
                        </article>
                    </li>
                );
            })
        }
    </ul>
</Section>

<style>
    article {
display: flex;
flex-direction: column ;
padding-bottom: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  
</style>