---
import { basics } from "@cv";
import Section from "@/components/Section.astro";
import Mail from "@/icons/Mail.astro";
import Phone from "@/icons/Phone.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";

const { name, label, location, profiles, phone, email } = basics;
const { country, city, province, postalCode, address } = location;

const SOCIAL_ICONS: Record<string, any> = {
    GitHub,
    LinkedIn,
};
---

<Section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>

            <span>
                <!-- Revisar si pone icono -->
                {address}
                {postalCode}, {city},{province}
                {country}
            </span>
            <footer>
                {
                    email && (
                        <a
                            href={`mailto:${email}`}
                            title={`Send email to ${name} with email address ${email}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <span>
                                <Mail />
                                {email}
                            </span>
                        </a>
                    )
                }
                {
                    phone && (
                        <a
                            href={`phoneto:${phone}`}
                            title={`Call ${name} at the number ${phone}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <span>
                                <Phone />
                                {phone}
                            </span>
                        </a>
                    )
                }
                {
                    profiles.map(({ network, url, username }) => {
                        const Icon = SOCIAL_ICONS[network];
                        return (
                            <a
                                href={url}
                                title={`Go to ${name}'s ${network} profile`}
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <span>
                                    <Icon />
                                    {username}
                                </span>
                            </a>
                        );
                    })
                }
            </footer>
        </div>
    </div>
    <script>
        const counter = document.querySelector(".counter-number");
        async function updateCounter() {
        let response = await fetch("https://nobkp66cfk.execute-api.us-east-1.amazonaws.com/default/");
        console.log(response);
        let data = await response.json();
        if (counter) {
            counter.innerHTML = `${data}`;
        }}

updateCounter();
    </script>
    <a>Views:</a> <a class="counter-number"></a>
</Section>

<style>
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-right: 32px;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
    }

    h2 {
        color: #444;
        font-weight: 500;
        font-size: 1.1rem;
        text-wrap: balance;
        text-align: justify;
    }

    span {
        color: #666;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 0.85rem;
        letter-spacing: -0.05rem;
        justify-content: center;
    }

    footer {
        color: #555;
        font-size: 0.65rem;
        display: flex;
        gap: 4px;
        margin-top: 8px;
        align-items: center;
        justify-content: center;
    }

    footer a span {
        color: #777;
        display: inline;
        align-items: center;
        justify-content: center;
        border: 1px solid #eee;
        padding: 5px;
        height: 32px;
        width: 32px;
        border-radius: 6px;
        transition: all 0.3s ease;
    }
    footer a span:hover {
        background: #eee;
        border: 1px solid #ddd;
    }

    @media (width <= 700px) {
        .container {
            flex-direction: column-reverse;
        }

        .info {
            justify-content: center;
            align-items: center;
            padding-right: 0;
            text-align: center;
        }

        figure {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h2 {
            text-wrap: balance;
        }

        figure {
            margin: 0 auto;
        }
    }
</style>
